{% comment %}Badge: Supporter -> Users with active Membership.{% endcomment %}
<span class="tooltip" data-tip="Membro apoiador há 1 dia">
  <span class="text-amber-400 cursor-pointer">
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-mood-spark">
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path d="M21 12a9 9 0 1 0 -8.994 9" />
      <path d="M9 10h.01" />
      <path d="M15 10h.01" />
      <path d="M9.5 15a3.5 3.5 0 0 0 5 0" />
      <path d="M19 22.5a4.75 4.75 0 0 1 3.5 -3.5a4.75 4.75 0 0 1 -3.5 -3.5a4.75 4.75 0 0 1 -3.5 3.5a4.75 4.75 0 0 1 3.5 3.5" />
    </svg>
  </span>
</span>

{% comment %}Badge: Fire Starter -> For those who ignites many conversations.{% endcomment %}
<span class="tooltip" data-tip="Iniciou 132 conversas">
  <span class="text-pink-500 cursor-pointer">
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-message-2-bolt">
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path d="M8 9h8" />
      <path d="M8 13h6" />
      <path d="M13 20l-1 1l-3 -3h-3a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v5.5" />
      <path d="M19 16l-2 3h4l-2 3" />
    </svg>
  </span>
</span>

{% comment %}Badge: Afficionate -> For thos passionate about music.{% endcomment %}
<span class="tooltip" data-tip="Compartilhou 326 músicas">
  <span class="text-teal-500 cursor-pointer">
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-vinyl">
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path d="M16 3.937a9 9 0 1 0 5 8.063" />
      <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
      <path d="M20 4m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
      <path d="M20 4l-3.5 10l-2.5 2" />
    </svg>
  </span>
</span>

<span><span class="cursor-pointer text-xs">+5</span></span>
