<aside class="direita w-72 p-4 bg-card-dark border-l border-neutral-800">
  <div>
    <h3 class="font-semibold mb-2">Assuntos do Momento</h3>
    <div class="flex flex-wrap gap-2 text-xs text-gray-400">
      <span class="bg-gray-800 px-2 py-1 rounded cursor-pointer hover:bg-gray-700">#linode</span>
      <span class="bg-gray-800 px-2 py-1 rounded cursor-pointer hover:bg-gray-700">#dev</span>
    </div>
  </div>

  <div class="mt-6">
    <h3 class="font-semibold mb-2">Melhores da Semana</h3>
    <ul class="space-y-2">
      <li class="flex justify-between">
        <span>VS Code</span>
        <button class="text-xs text-black font-bold px-2 py-1 border-dashed border-2 border-amber-600 bg-amber-500 rounded cursor-pointer hover:bg-amber-600">Mais curtido</button>
      </li>
      <li class="flex justify-between">
        <span>Perlpeixty AI</span>
        <button class="text-xs text-black font-bold px-2 py-1 border-dashed border-2 border-cyan-600 bg-cyan-500 rounded cursor-pointer hover:bg-cyan-600">Mais comentado</button>
      </li>
      <li class="flex justify-between">
        <span>Shadcn/UI</span>
        <button class="text-xs text-black font-bold px-2 py-1 border-dashed border-2 border-teal-600 bg-teal-500 rounded cursor-pointer hover:bg-teal-600">Mais compartilhado</button>
      </li>
    </ul>
  </div>

  <div class="mt-6">
    <div class="flex justify-between">
      <h3 class="font-semibold mb-2">Talvez você conheça</h3>
      <div>
        <button class="cursor-pointer">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-refresh">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4" />
            <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4" />
          </svg>
        </button>
      </div>
    </div>
    <ul class="space-y-5">
      <li class="flex justify-between">
        <a href="#" class="flex justify-between gap-2 items-center">
          <img width="40" height="40" class="rounded-full" src="https://s3.amazonaws.com/appforest_uf/f1485665415623x323958275606855740/AA_icon.png" />
          <p>Zezinho da Esquina</p>
          <button class="text-xs px-2 py-1 bg-neutral-700 rounded cursor-pointer hover:bg-neutral-600">Seguir</button>
        </a>
      </li>
      <li class="flex justify-between">
        <a href="#" class="flex justify-between gap-2 items-center">
          <img width="40" height="40" class="rounded-full" src="https://s3.amazonaws.com/appforest_uf/f1485665415623x323958275606855740/AA_icon.png" />
          <p>Zezinho da Esquina</p>
          <button class="text-xs px-2 py-1 bg-neutral-700 rounded cursor-pointer hover:bg-neutral-600">Seguir</button>
        </a>
      </li>
      <li class="flex justify-between">
        <a href="#" class="flex justify-between gap-2 items-center">
          <img width="40" height="40" class="rounded-full" src="https://s3.amazonaws.com/appforest_uf/f1485665415623x323958275606855740/AA_icon.png" />
          <p>Zezinho da Esquina</p>
          <button class="text-xs px-2 py-1 bg-neutral-700 rounded cursor-pointer hover:bg-neutral-600">Seguir</button>
        </a>
      </li>
      <li class="flex justify-between">
        <a href="#" class="flex justify-between gap-2 items-center">
          <img width="40" height="40" class="rounded-full" src="https://s3.amazonaws.com/appforest_uf/f1485665415623x323958275606855740/AA_icon.png" />
          <p>Zezinho da Esquina</p>
          <button class="text-xs px-2 py-1 bg-neutral-700 rounded cursor-pointer hover:bg-neutral-600">Seguir</button>
        </a>
      </li>
    </ul>
  </div>
</aside>
