{% load mention_filters %}
{% comment %}Verifica se está renderizado no perfil ou no dashboard{% endcomment %}
{% if 'profile' in request.path %}
  {% if displayable_posts.count > 0 and profile_data.user in displayable_posts %}
    {% for post in displayable_posts %}
      {% if post.user == profile_data.user %}
        <div class="border-1 rounded-xl p-4 border-zinc-700">
          <div class="flex justify-between">
            <a class="flex gap-2 items-center" href="{% url 'profile' slug=post.user.username %}">
              {% if post.user.profile.profile_pic %}
                <img class="rounded-full object-cover max-w-[40px] max-h-[40px] min-w-[40px] min-h-[40px] md:max-w-[60px] md:max-h-[60px] md:min-w-[60px] md:min-h-[60px]" src="{{ post.user.profile.profile_pic.url }}" />
              {% else %}
                <img class="rounded-full max-w-[40px] max-h-[40px] min-w-[40px] min-h-[40px] md:max-w-[60px] md:max-h-[60px] md:min-w-[60px] md:min-h-[60px]" src="https://api.dicebear.com/9.x/thumbs/svg?seed={{ post.user.username }}" />
              {% endif %}
              <div>
                <div class="flex flex-col">
                  {% if post.user.profile.first_name %}
                    <p>{{ post.user.profile.first_name }}</p>
                    <p class="text-sm text-zinc-500">
                      @{{ post.user.username }}
                      <span class="text-xs md:hidden">— <span class="text-zinc-500">@{{ post.user.username }}</span></span>
                    </p>
                  {% else %}
                    <p>
                      {{ post.user.username|capfirst }}
                      <span class="text-xs md:hidden">— <span class="text-zinc-500">@{{ post.user.username }}</span></span>
                    </p>
                    <p class="hidden md:block">{{ post.user.username }}</p>
                  {% endif %}
                </div>
                <p class="text-sm">{{ post.timetrack }}</p>
              </div>
            </a>
            <div>
              <div class="dropdown dropdown-end">
                <div tabindex="0" class="bg-transparent shadow-none px-4 cursor-pointer" role="button" class="btn m-1">...</div>
                <ul tabindex="0" class="dropdown-content menu bg-base-100 border-1 border-zinc-800 bg-zinc-900 rounded-box z-1 w-52 p-2 shadow-sm">
                  {% if post.user == request.user %}
                    <li>
                      <button class="openModalDeleteBtn bg-red-600/20 text-red-500 md:hover:bg-red-600/20 md:hover:text-red-500" data-post-id="{{ post.id }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-trash">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M4 7l16 0" />
                          <path d="M10 11l0 6" />
                          <path d="M14 11l0 6" />
                          <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                          <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                        </svg>Excluir
                      </button>
                    </li>
                  {% endif %}
                  <li>
                    <button onclick="blurOnClick()" class="flex items-center gap-2 hover:bg-zinc-600/50">
                      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-bookmark">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M18 7v14l-6 -4l-6 4v-14a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4z" />
                      </svg>Salvar
                    </button>
                  </li>
                  <li>
                    <button onclick="blurOnClick()" class="flex items-center gap-2 hover:bg-zinc-600/50">
                      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-exclamation-circle">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                        <path d="M12 9v4" />
                        <path d="M12 16v.01" />
                      </svg>Denunciar
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- post content -->
          <div class="mt-2">
            <p class="wrap-break-word">{{ post.content|linkify_mentions:request|safe }}</p>
            <div class="flex mt-2 gap-2">
              {% for tag in post.tags.all %}
                <a href="#" class="text-cyan-600">{{ tag }}</a>
              {% endfor %}
            </div>
            <div class="mt-2 flex gap-2">
              <form action="like" method="POST">
                {% csrf_token %}
                <a role="button" href="{% url 'post_like' post.id %}" class="flex gap-2 items-center text-sm font-bold px-2 py-1 bg-neutral-700 rounded cursor-pointer hover:bg-neutral-600">
                  {% if request.user in post.likes.all %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-thumb-up">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M13 3a3 3 0 0 1 2.995 2.824l.005 .176v4h2a3 3 0 0 1 2.98 2.65l.015 .174l.005 .176l-.02 .196l-1.006 5.032c-.381 1.626 -1.502 2.796 -2.81 2.78l-.164 -.008h-8a1 1 0 0 1 -.993 -.883l-.007 -.117l.001 -9.536a1 1 0 0 1 .5 -.865a2.998 2.998 0 0 0 1.492 -2.397l.007 -.202v-1a3 3 0 0 1 3 -3z" />
                      <path d="M5 10a1 1 0 0 1 .993 .883l.007 .117v9a1 1 0 0 1 -.883 .993l-.117 .007h-1a2 2 0 0 1 -1.995 -1.85l-.005 -.15v-7a2 2 0 0 1 1.85 -1.995l.15 -.005h1z" />
                    </svg>
                  {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-thumb-up">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M7 11v8a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1v-7a1 1 0 0 1 1 -1h3a4 4 0 0 0 4 -4v-1a2 2 0 0 1 4 0v5h3a2 2 0 0 1 2 2l-1 5a2 3 0 0 1 -2 2h-7a3 3 0 0 1 -3 -3" />
                    </svg>
                  {% endif %}
                  <p class="m-0">{{ post.likes_counter }}</p>
                </a>
              </form>
              {% if post.user != request.user %}
                <form action="share" method="POST">
                  {% csrf_token %}
                  <a role="button" href="{% url 'post_share' post.id %}" class="flex gap-2 items-center text-sm font-bold px-2 py-1 bg-neutral-700 rounded cursor-pointer hover:bg-neutral-600">
                    {% if request.user in post.shares.all %}
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#fff" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-share-3">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M13 4v4c-6.575 1.028 -9.02 6.788 -10 12c-.037 .206 5.384 -5.962 10 -6v4l8 -7l-8 -7z" />
                      </svg>
                    {% else %}
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-share-3">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M13 4v4c-6.575 1.028 -9.02 6.788 -10 12c-.037 .206 5.384 -5.962 10 -6v4l8 -7l-8 -7z" />
                      </svg>
                    {% endif %}
                    <p class="m-0">{{ post.shares_counter }}</p>
                  </a>
                </form>
              {% else %}
                <button class="flex gap-2 items-center text-sm font-bold px-2 py-1 bg-cyan-700/50 rounded cursor-pointer">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-share-3">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M13 4v4c-6.575 1.028 -9.02 6.788 -10 12c-.037 .206 5.384 -5.962 10 -6v4l8 -7l-8 -7z" />
                  </svg>
                  <p class="m-0">{{ post.shares_counter }}</p>
                </button>
              {% endif %}
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% elif displayable_posts.count > 0 and profile_data.user == request.user %}
    {% for post in displayable_posts %}
      <div class="border-1 rounded-xl p-4 border-zinc-700">
        <div class="flex justify-between">
          <a class="flex gap-2 items-center" href="{% url 'profile' slug=post.user.username %}">
            {% if post.user.profile.profile_pic %}
              <img class="rounded-full object-cover max-w-[40px] max-h-[40px] min-w-[40px] min-h-[40px] md:max-w-[60px] md:max-h-[60px] md:min-w-[60px] md:min-h-[60px]" src="{{ post.user.profile.profile_pic.url }}" />
            {% else %}
              <img class="rounded-full max-w-[40px] max-h-[40px] min-w-[40px] min-h-[40px] md:max-w-[60px] md:max-h-[60px] md:min-w-[60px] md:min-h-[60px]" src="https://api.dicebear.com/9.x/thumbs/svg?seed={{ post.user.username }}" />
            {% endif %}
            <div>
              <div class="flex flex-col">
                {% if post.user.profile.first_name %}
                  <p>{{ post.user.profile.first_name }}</p>
                  <p class="text-sm text-zinc-500">
                    @{{ post.user.username }}
                    <span class="text-xs md:hidden">— <span class="text-zinc-500">@{{ post.user.username }}</span></span>
                  </p>
                {% else %}
                  <p>
                    {{ post.user.username|capfirst }}
                    <span class="text-xs md:hidden">— <span class="text-zinc-500">@{{ post.user.username }}</span></span>
                  </p>
                  <p class="hidden md:block">{{ post.user.username }}</p>
                {% endif %}
              </div>
              <p class="text-sm">{{ post.timetrack }}</p>
            </div>
          </a>
          <div>
            <div class="dropdown dropdown-end">
              <div tabindex="0" class="bg-transparent shadow-none px-4 cursor-pointer" role="button" class="btn m-1">...</div>
              <ul tabindex="0" class="dropdown-content menu bg-base-100 border-1 border-zinc-800 bg-zinc-900 rounded-box z-1 w-52 p-2 shadow-sm">
                {% if post.user == request.user %}
                  <li>
                    <button class="openModalDeleteBtn bg-red-600/20 text-red-500 md:hover:bg-red-600/20 md:hover:text-red-500" data-post-id="{{ post.id }}">
                      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-trash">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M4 7l16 0" />
                        <path d="M10 11l0 6" />
                        <path d="M14 11l0 6" />
                        <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                        <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                      </svg>Excluir
                    </button>
                  </li>
                {% endif %}
                <li>
                  <button onclick="blurOnClick()" class="flex items-center gap-2 hover:bg-zinc-600/50">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-bookmark">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M18 7v14l-6 -4l-6 4v-14a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4z" />
                    </svg>Salvar
                  </button>
                </li>
                <li>
                  <button onclick="blurOnClick()" class="flex items-center gap-2 hover:bg-zinc-600/50">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-exclamation-circle">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                      <path d="M12 9v4" />
                      <path d="M12 16v.01" />
                    </svg>Denunciar
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- post content -->
        <div class="mt-2">
          <p class="wrap-break-word">{{ post.content|linkify_mentions:request|safe }}</p>
          <div class="flex mt-2 gap-2">
            {% for tag in post.tags.all %}
              <a href="{% url 'search' %}?q={{ tag }}" class="text-cyan-600">#{{ tag }}</a>
            {% endfor %}
          </div>
          <div class="mt-2 flex gap-2">
            <form action="like" method="POST">
              {% csrf_token %}
              <a role="button" href="{% url 'post_like' post.id %}" class="flex gap-2 items-center text-sm font-bold px-2 py-1 bg-neutral-700 rounded cursor-pointer hover:bg-neutral-600">
                {% if request.user in post.likes.all %}
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-thumb-up">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M13 3a3 3 0 0 1 2.995 2.824l.005 .176v4h2a3 3 0 0 1 2.98 2.65l.015 .174l.005 .176l-.02 .196l-1.006 5.032c-.381 1.626 -1.502 2.796 -2.81 2.78l-.164 -.008h-8a1 1 0 0 1 -.993 -.883l-.007 -.117l.001 -9.536a1 1 0 0 1 .5 -.865a2.998 2.998 0 0 0 1.492 -2.397l.007 -.202v-1a3 3 0 0 1 3 -3z" />
                    <path d="M5 10a1 1 0 0 1 .993 .883l.007 .117v9a1 1 0 0 1 -.883 .993l-.117 .007h-1a2 2 0 0 1 -1.995 -1.85l-.005 -.15v-7a2 2 0 0 1 1.85 -1.995l.15 -.005h1z" />
                  </svg>
                {% else %}
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-thumb-up">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M7 11v8a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1v-7a1 1 0 0 1 1 -1h3a4 4 0 0 0 4 -4v-1a2 2 0 0 1 4 0v5h3a2 2 0 0 1 2 2l-1 5a2 3 0 0 1 -2 2h-7a3 3 0 0 1 -3 -3" />
                  </svg>
                {% endif %}
                <p class="m-0">{{ post.likes_counter }}</p>
              </a>
            </form>
            {% if post.user != request.user %}
              <form action="share" method="POST">
                {% csrf_token %}
                <a role="button" href="{% url 'post_share' post.id %}" class="flex gap-2 items-center text-sm font-bold px-2 py-1 bg-neutral-700 rounded cursor-pointer hover:bg-neutral-600">
                  {% if request.user in post.shares.all %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#fff" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-share-3">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M13 4v4c-6.575 1.028 -9.02 6.788 -10 12c-.037 .206 5.384 -5.962 10 -6v4l8 -7l-8 -7z" />
                    </svg>
                  {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-share-3">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M13 4v4c-6.575 1.028 -9.02 6.788 -10 12c-.037 .206 5.384 -5.962 10 -6v4l8 -7l-8 -7z" />
                    </svg>
                  {% endif %}
                  <p class="m-0">{{ post.shares_counter }}</p>
                </a>
              </form>
            {% else %}
              <button class="flex gap-2 items-center text-sm font-bold px-2 py-1 bg-cyan-700/50 rounded cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-share-3">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M13 4v4c-6.575 1.028 -9.02 6.788 -10 12c-.037 .206 5.384 -5.962 10 -6v4l8 -7l-8 -7z" />
                </svg>
                <p class="m-0">{{ post.shares_counter }}</p>
              </button>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  {% else %}
    {% if profile_data.user in public_profiles_users and profile_posts.count > 0 %}
      {% for post in profile_posts %}
        <div class="border-1 rounded-xl p-4 border-zinc-700">
          <div class="flex justify-between">
            <a class="flex gap-2 items-center" href="{% url 'profile' slug=post.user.username %}">
              {% if post.user.profile.profile_pic %}
                <img class="rounded-full object-cover max-w-[40px] max-h-[40px] min-w-[40px] min-h-[40px] md:max-w-[60px] md:max-h-[60px] md:min-w-[60px] md:min-h-[60px]" src="{{ post.user.profile.profile_pic.url }}" />
              {% else %}
                <img class="rounded-full max-w-[40px] max-h-[40px] min-w-[40px] min-h-[40px] md:max-w-[60px] md:max-h-[60px] md:min-w-[60px] md:min-h-[60px]" src="https://api.dicebear.com/9.x/thumbs/svg?seed={{ post.user.username }}" />
              {% endif %}
              <div>
                <div class="flex flex-col">
                  {% if post.user.profile.first_name %}
                    <p>{{ post.user.profile.first_name }}</p>
                    <p class="text-sm text-zinc-500">
                      @{{ post.user.username }}
                      <span class="text-xs md:hidden">— <span class="text-zinc-500">@{{ post.user.username }}</span></span>
                    </p>
                  {% else %}
                    <p>
                      {{ post.user.username|capfirst }}
                      <span class="text-xs md:hidden">— <span class="text-zinc-500">@{{ post.user.username }}</span></span>
                    </p>
                    <p class="hidden md:block">{{ post.user.username }}</p>
                  {% endif %}
                </div>
                <p class="text-sm">{{ post.timetrack }}</p>
              </div>
            </a>
            <div>
              <div class="dropdown dropdown-end">
                <div tabindex="0" class="bg-transparent shadow-none px-4 cursor-pointer" role="button" class="btn m-1">...</div>
                <ul tabindex="0" class="dropdown-content menu bg-base-100 border-1 border-zinc-800 bg-zinc-900 rounded-box z-1 w-52 p-2 shadow-sm">
                  {% if post.user == request.user %}
                    <li>
                      <button class="openModalDeleteBtn bg-red-600/20 text-red-500 hover:bg-red-600/20 hover:text-red-500" data-post-id="{{ post.id }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-trash">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M4 7l16 0" />
                          <path d="M10 11l0 6" />
                          <path d="M14 11l0 6" />
                          <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                          <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                        </svg>Excluir
                      </button>
                    </li>
                  {% endif %}
                  <li>
                    <button onclick="blurOnClick()" class="flex items-center gap-2 hover:bg-zinc-600/50">
                      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-bookmark">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M18 7v14l-6 -4l-6 4v-14a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4z" />
                      </svg>Salvar
                    </button>
                  </li>
                  <li>
                    <button onclick="blurOnClick()" class="flex items-center gap-2 hover:bg-zinc-600/50">
                      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-exclamation-circle">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                        <path d="M12 9v4" />
                        <path d="M12 16v.01" />
                      </svg>Denunciar
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- post content -->
          <div class="mt-2">
            <p class="wrap-break-word">{{ post.content|linkify_mentions:request|safe }}</p>
            <div class="flex mt-2 gap-2">
              {% for tag in post.tags.all %}
                <a href="{% url 'search' %}?q={{ tag }}" class="text-cyan-600">#{{ tag }}</a>
              {% endfor %}
            </div>
            <div class="mt-2 flex gap-2">
              <form action="like" method="POST">
                {% csrf_token %}
                <a role="button" href="{% url 'post_like' post.id %}" class="flex gap-2 items-center text-sm font-bold px-2 py-1 bg-neutral-700 rounded cursor-pointer hover:bg-neutral-600">
                  {% if request.user in post.likes.all %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-thumb-up">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M13 3a3 3 0 0 1 2.995 2.824l.005 .176v4h2a3 3 0 0 1 2.98 2.65l.015 .174l.005 .176l-.02 .196l-1.006 5.032c-.381 1.626 -1.502 2.796 -2.81 2.78l-.164 -.008h-8a1 1 0 0 1 -.993 -.883l-.007 -.117l.001 -9.536a1 1 0 0 1 .5 -.865a2.998 2.998 0 0 0 1.492 -2.397l.007 -.202v-1a3 3 0 0 1 3 -3z" />
                      <path d="M5 10a1 1 0 0 1 .993 .883l.007 .117v9a1 1 0 0 1 -.883 .993l-.117 .007h-1a2 2 0 0 1 -1.995 -1.85l-.005 -.15v-7a2 2 0 0 1 1.85 -1.995l.15 -.005h1z" />
                    </svg>
                  {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-thumb-up">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M7 11v8a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1v-7a1 1 0 0 1 1 -1h3a4 4 0 0 0 4 -4v-1a2 2 0 0 1 4 0v5h3a2 2 0 0 1 2 2l-1 5a2 3 0 0 1 -2 2h-7a3 3 0 0 1 -3 -3" />
                    </svg>
                  {% endif %}
                  <p class="m-0">{{ post.likes_counter }}</p>
                </a>
              </form>
              {% if post.user != request.user %}
                <form action="share" method="POST">
                  {% csrf_token %}
                  <a role="button" href="{% url 'post_share' post.id %}" class="flex gap-2 items-center text-sm font-bold px-2 py-1 bg-neutral-700 rounded cursor-pointer hover:bg-neutral-600">
                    {% if request.user in post.shares.all %}
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#fff" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-share-3">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M13 4v4c-6.575 1.028 -9.02 6.788 -10 12c-.037 .206 5.384 -5.962 10 -6v4l8 -7l-8 -7z" />
                      </svg>
                    {% else %}
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-share-3">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M13 4v4c-6.575 1.028 -9.02 6.788 -10 12c-.037 .206 5.384 -5.962 10 -6v4l8 -7l-8 -7z" />
                      </svg>
                    {% endif %}
                    <p class="m-0">{{ post.shares_counter }}</p>
                  </a>
                </form>
              {% else %}
                <button class="flex gap-2 items-center text-sm font-bold px-2 py-1 bg-cyan-700/50 rounded cursor-pointer">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-share-3">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M13 4v4c-6.575 1.028 -9.02 6.788 -10 12c-.037 .206 5.384 -5.962 10 -6v4l8 -7l-8 -7z" />
                  </svg>
                  <p class="m-0">{{ post.shares_counter }}</p>
                </button>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    {% elif profile_data.user in logged_follows_user %}
      {% if profile_posts.count > 0 %}
        {% for post in profile_posts %}
          <div class="border-1 rounded-xl p-4 border-zinc-700">
            <div class="flex justify-between">
              <a class="flex gap-2 items-center" href="{% url 'profile' slug=post.user.username %}">
                {% if post.user.profile.profile_pic %}
                  <img class="rounded-full object-cover max-w-[40px] max-h-[40px] min-w-[40px] min-h-[40px] md:max-w-[60px] md:max-h-[60px] md:min-w-[60px] md:min-h-[60px]" src="{{ post.user.profile.profile_pic.url }}" />
                {% else %}
                  <img class="rounded-full max-w-[40px] max-h-[40px] min-w-[40px] min-h-[40px] md:max-w-[60px] md:max-h-[60px] md:min-w-[60px] md:min-h-[60px]" src="https://api.dicebear.com/9.x/thumbs/svg?seed={{ post.user.username }}" />
                {% endif %}
                <div>
                  <div class="flex flex-col">
                    {% if post.user.profile.first_name %}
                      <p>{{ post.user.profile.first_name }}</p>
                      <p class="text-sm text-zinc-500">
                        @{{ post.user.username }}
                        <span class="text-xs md:hidden">— <span class="text-zinc-500">@{{ post.user.username }}</span></span>
                      </p>
                    {% else %}
                      <p>
                        {{ post.user.username|capfirst }}
                        <span class="text-xs md:hidden">— <span class="text-zinc-500">@{{ post.user.username }}</span></span>
                      </p>
                      <p class="hidden md:block">{{ post.user.username }}</p>
                    {% endif %}
                  </div>
                  <p class="text-sm">{{ post.timetrack }}</p>
                </div>
              </a>
              <div>
                <div class="dropdown dropdown-end">
                  <div tabindex="0" class="bg-transparent shadow-none px-4 cursor-pointer" role="button" class="btn m-1">...</div>
                  <ul tabindex="0" class="dropdown-content menu bg-base-100 border-1 border-zinc-800 bg-zinc-900 rounded-box z-1 w-52 p-2 shadow-sm">
                    {% if post.user == request.user %}
                      <li>
                        <button class="openModalDeleteBtn bg-red-600/20 text-red-500 hover:bg-red-600/20 hover:text-red-500" data-post-id="{{ post.id }}">
                          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-trash">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M4 7l16 0" />
                            <path d="M10 11l0 6" />
                            <path d="M14 11l0 6" />
                            <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                            <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                          </svg>Excluir
                        </button>
                      </li>
                    {% endif %}
                    <li>
                      <button onclick="blurOnClick()" class="flex items-center gap-2 hover:bg-zinc-600/50">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-bookmark">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M18 7v14l-6 -4l-6 4v-14a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4z" />
                        </svg>Salvar
                      </button>
                    </li>
                    <li>
                      <button onclick="blurOnClick()" class="flex items-center gap-2 hover:bg-zinc-600/50">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-exclamation-circle">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                          <path d="M12 9v4" />
                          <path d="M12 16v.01" />
                        </svg>Denunciar
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- post content -->
            <div class="mt-2">
              <p class="wrap-break-word">{{ post.content|linkify_mentions:request|safe }}</p>
              <div class="flex mt-2 gap-2">
                {% for tag in post.tags.all %}
                  <a href="{% url 'search' %}?q={{ tag }}" class="text-cyan-600">#{{ tag }}</a>
                {% endfor %}
              </div>
              <div class="mt-2 flex gap-2">
                <form action="like" method="POST">
                  {% csrf_token %}
                  <a role="button" href="{% url 'post_like' post.id %}" class="flex gap-2 items-center text-sm font-bold px-2 py-1 bg-neutral-700 rounded cursor-pointer hover:bg-neutral-600">
                    {% if request.user in post.likes.all %}
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-thumb-up">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M13 3a3 3 0 0 1 2.995 2.824l.005 .176v4h2a3 3 0 0 1 2.98 2.65l.015 .174l.005 .176l-.02 .196l-1.006 5.032c-.381 1.626 -1.502 2.796 -2.81 2.78l-.164 -.008h-8a1 1 0 0 1 -.993 -.883l-.007 -.117l.001 -9.536a1 1 0 0 1 .5 -.865a2.998 2.998 0 0 0 1.492 -2.397l.007 -.202v-1a3 3 0 0 1 3 -3z" />
                        <path d="M5 10a1 1 0 0 1 .993 .883l.007 .117v9a1 1 0 0 1 -.883 .993l-.117 .007h-1a2 2 0 0 1 -1.995 -1.85l-.005 -.15v-7a2 2 0 0 1 1.85 -1.995l.15 -.005h1z" />
                      </svg>
                    {% else %}
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-thumb-up">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M7 11v8a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1v-7a1 1 0 0 1 1 -1h3a4 4 0 0 0 4 -4v-1a2 2 0 0 1 4 0v5h3a2 2 0 0 1 2 2l-1 5a2 3 0 0 1 -2 2h-7a3 3 0 0 1 -3 -3" />
                      </svg>
                    {% endif %}
                    <p class="m-0">{{ post.likes_counter }}</p>
                  </a>
                </form>
                {% if post.user != request.user %}
                  <form action="share" method="POST">
                    {% csrf_token %}
                    <a role="button" href="{% url 'post_share' post.id %}" class="flex gap-2 items-center text-sm font-bold px-2 py-1 bg-neutral-700 rounded cursor-pointer hover:bg-neutral-600">
                      {% if request.user in post.shares.all %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#fff" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-share-3">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M13 4v4c-6.575 1.028 -9.02 6.788 -10 12c-.037 .206 5.384 -5.962 10 -6v4l8 -7l-8 -7z" />
                        </svg>
                      {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-share-3">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M13 4v4c-6.575 1.028 -9.02 6.788 -10 12c-.037 .206 5.384 -5.962 10 -6v4l8 -7l-8 -7z" />
                        </svg>
                      {% endif %}
                      <p class="m-0">{{ post.shares_counter }}</p>
                    </a>
                  </form>
                {% else %}
                  <button class="flex gap-2 items-center text-sm font-bold px-2 py-1 bg-cyan-700/50 rounded cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-share-3">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M13 4v4c-6.575 1.028 -9.02 6.788 -10 12c-.037 .206 5.384 -5.962 10 -6v4l8 -7l-8 -7z" />
                    </svg>
                    <p class="m-0">{{ post.shares_counter }}</p>
                  </button>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="p-8">
          {% if profile_data.user in public_profiles_users %}
            <h2 class="font-bold text-xl">Este usuário ainda não postou nada.</h2>
          {% else %}
            <h2 class="font-bold text-xl">Este usuário possui o perfil privado.</h2>
            <p class="text-sm text-zinc-500">Envie uma solicitação para seguí-lo. Caso ele aceite, você poderá visualizar seus posts.</p>
          {% endif %}
        </div>
      {% endif %}
    {% else %}
      {% if profile_data.user == request.user %}
        <div class="p-8">
          <h2 class="font-bold text-xl">Nossa! Como tá vazio aqui, né? 🫠</h2>
          <p class="text-sm text-zinc-500">Posta alguma coisa, sei lá. Reage.</p>
        </div>
      {% else %}
        <div class="p-8">
          {% if profile_data.user in public_profiles_users %}
            <h2 class="font-bold text-xl">Este usuário ainda não postou nada.</h2>
          {% else %}
            <h2 class="font-bold text-xl">Este usuário possui o perfil privado.</h2>
            <p class="text-sm text-zinc-500">Envie uma solicitação para seguí-lo. Caso ele aceite, você poderá visualizar seus posts.</p>
          {% endif %}
        </div>
      {% endif %}
    {% endif %}
  {% endif %}
{% else %}
  {% comment %}Lógica do Dashboard{% endcomment %}
  {% if displayable_posts.count > 0 %}
    {% for post in displayable_posts %}
      {% if post.user in public_profiles or post.user in logged_follows_user or post.user == request.user %}
        <div class="border-1 rounded-xl p-4 border-zinc-700">
          <div class="flex justify-between">
            <a class="flex gap-2 items-center" href="{% url 'profile' slug=post.user.username %}">
              {% if post.user.profile.profile_pic %}
                <img class="rounded-full object-cover max-w-[40px] max-h-[40px] min-w-[40px] min-h-[40px] md:max-w-[60px] md:max-h-[60px] md:min-w-[60px] md:min-h-[60px]" src="{{ post.user.profile.profile_pic.url }}" />
              {% else %}
                <img class="rounded-full max-w-[40px] max-h-[40px] min-w-[40px] min-h-[40px] md:max-w-[60px] md:max-h-[60px] md:min-w-[60px] md:min-h-[60px]" src="https://api.dicebear.com/9.x/thumbs/svg?seed={{ post.user.username }}" />
              {% endif %}
              <div>
                <div class="flex flex-col">
                  {% if post.user.profile.first_name %}
                    <p>{{ post.user.profile.first_name }}</p>
                    <p class="text-sm text-zinc-500">
                      @{{ post.user.username }}
                      <span class="text-xs md:hidden">— <span class="text-zinc-500">@{{ post.user.username }}</span></span>
                    </p>
                  {% else %}
                    <p>
                      {{ post.user.username|capfirst }}
                      <span class="text-xs md:hidden">— <span class="text-zinc-500">@{{ post.user.username }}</span></span>
                    </p>
                    <p class="hidden md:block">{{ post.user.username }}</p>
                  {% endif %}
                </div>
                <p class="text-sm">{{ post.timetrack }}</p>
              </div>
            </a>
            <div>
              <div class="dropdown dropdown-end">
                <div tabindex="0" class="bg-transparent shadow-none px-4 cursor-pointer" role="button" class="btn m-1">...</div>
                <ul tabindex="0" class="dropdown-content menu bg-base-100 border-1 border-zinc-800 bg-zinc-900 rounded-box z-1 w-52 p-2 shadow-sm">
                  {% if post.user == request.user %}
                    <li>
                      <button class="openModalDeleteBtn bg-red-600/20 text-red-500 md:hover:bg-red-600/20 md:hover:text-red-500" data-post-id="{{ post.id }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-trash">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M4 7l16 0" />
                          <path d="M10 11l0 6" />
                          <path d="M14 11l0 6" />
                          <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                          <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                        </svg>Excluir
                      </button>
                    </li>
                  {% endif %}
                  <li>
                    <button onclick="blurOnClick()" class="flex items-center gap-2 hover:bg-zinc-600/50">
                      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-bookmark">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M18 7v14l-6 -4l-6 4v-14a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4z" />
                      </svg>Salvar
                    </button>
                  </li>
                  <li>
                    <button onclick="blurOnClick()" class="flex items-center gap-2 hover:bg-zinc-600/50">
                      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-exclamation-circle">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                        <path d="M12 9v4" />
                        <path d="M12 16v.01" />
                      </svg>Denunciar
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- post content -->
          <div class="mt-2">
            <p class="wrap-break-word">{{ post.content|linkify_mentions:request|safe }}</p>
            <div class="flex mt-2 gap-2">
              {% for tag in post.tags.all %}
                <a href="{% url 'search' %}?q={{ tag }}" class="text-cyan-600">#{{ tag }}</a>
              {% endfor %}
            </div>
            <div class="mt-2 flex gap-2">
              <form action="like" method="POST">
                {% csrf_token %}
                <a role="button" href="{% url 'post_like' post.id %}" class="flex gap-2 items-center text-sm font-bold px-2 py-1 bg-neutral-700 rounded cursor-pointer hover:bg-neutral-600">
                  {% if request.user in post.likes.all %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-thumb-up">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M13 3a3 3 0 0 1 2.995 2.824l.005 .176v4h2a3 3 0 0 1 2.98 2.65l.015 .174l.005 .176l-.02 .196l-1.006 5.032c-.381 1.626 -1.502 2.796 -2.81 2.78l-.164 -.008h-8a1 1 0 0 1 -.993 -.883l-.007 -.117l.001 -9.536a1 1 0 0 1 .5 -.865a2.998 2.998 0 0 0 1.492 -2.397l.007 -.202v-1a3 3 0 0 1 3 -3z" />
                      <path d="M5 10a1 1 0 0 1 .993 .883l.007 .117v9a1 1 0 0 1 -.883 .993l-.117 .007h-1a2 2 0 0 1 -1.995 -1.85l-.005 -.15v-7a2 2 0 0 1 1.85 -1.995l.15 -.005h1z" />
                    </svg>
                  {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-thumb-up">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M7 11v8a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1v-7a1 1 0 0 1 1 -1h3a4 4 0 0 0 4 -4v-1a2 2 0 0 1 4 0v5h3a2 2 0 0 1 2 2l-1 5a2 3 0 0 1 -2 2h-7a3 3 0 0 1 -3 -3" />
                    </svg>
                  {% endif %}
                  <p class="m-0">{{ post.likes_counter }}</p>
                </a>
              </form>
              {% if post.user != request.user %}
                <form action="share" method="POST">
                  {% csrf_token %}
                  <a role="button" href="{% url 'post_share' post.id %}" class="flex gap-2 items-center text-sm font-bold px-2 py-1 bg-neutral-700 rounded cursor-pointer hover:bg-neutral-600">
                    {% if request.user in post.shares.all %}
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#fff" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-share-3">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M13 4v4c-6.575 1.028 -9.02 6.788 -10 12c-.037 .206 5.384 -5.962 10 -6v4l8 -7l-8 -7z" />
                      </svg>
                    {% else %}
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-share-3">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M13 4v4c-6.575 1.028 -9.02 6.788 -10 12c-.037 .206 5.384 -5.962 10 -6v4l8 -7l-8 -7z" />
                      </svg>
                    {% endif %}
                    <p class="m-0">{{ post.shares_counter }}</p>
                  </a>
                </form>
              {% else %}
                <button class="flex gap-2 items-center text-sm font-bold px-2 py-1 bg-cyan-700/50 rounded cursor-pointer">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-share-3">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M13 4v4c-6.575 1.028 -9.02 6.788 -10 12c-.037 .206 5.384 -5.962 10 -6v4l8 -7l-8 -7z" />
                  </svg>
                  <p class="m-0">{{ post.shares_counter }}</p>
                </button>
              {% endif %}
            </div>
          </div>
        </div>
      {% elif request.user in post.shares.all and post.user in public_profiles_users %}
        <div class="border-1 rounded-xl p-4 border-zinc-700">
          <div class="flex justify-between">
            <a class="flex gap-2 items-center" href="{% url 'profile' slug=post.user.username %}">
              {% if post.user.profile.profile_pic %}
                <img class="rounded-full object-cover max-w-[40px] max-h-[40px] min-w-[40px] min-h-[40px] md:max-w-[60px] md:max-h-[60px] md:min-w-[60px] md:min-h-[60px]" src="{{ post.user.profile.profile_pic.url }}" />
              {% else %}
                <img class="rounded-full max-w-[40px] max-h-[40px] min-w-[40px] min-h-[40px] md:max-w-[60px] md:max-h-[60px] md:min-w-[60px] md:min-h-[60px]" src="https://api.dicebear.com/9.x/thumbs/svg?seed={{ post.user.username }}" />
              {% endif %}
              <div>
                <div class="flex flex-col">
                  {% if post.user.profile.first_name %}
                    <p>{{ post.user.profile.first_name }}</p>
                    <p class="text-sm text-zinc-500">
                      @{{ post.user.username }}
                      <span class="text-xs md:hidden">— <span class="text-zinc-500">@{{ post.user.username }}</span></span>
                    </p>
                  {% else %}
                    <p>
                      {{ post.user.username|capfirst }}
                      <span class="text-xs md:hidden">— <span class="text-zinc-500">@{{ post.user.username }}</span></span>
                    </p>
                    <p class="hidden md:block">{{ post.user.username }}</p>
                  {% endif %}
                </div>
                <p class="text-sm">{{ post.timetrack }}</p>
              </div>
            </a>
            <div>
              <div class="dropdown dropdown-end">
                <div tabindex="0" class="bg-transparent shadow-none px-4 cursor-pointer" role="button" class="btn m-1">...</div>
                <ul tabindex="0" class="dropdown-content menu bg-base-100 border-1 border-zinc-800 bg-zinc-900 rounded-box z-1 w-52 p-2 shadow-sm">
                  {% if post.user == request.user %}
                    <li>
                      <button class="openModalDeleteBtn bg-red-600/20 text-red-500m md:hover:bg-red-600/20 md:hover:text-red-500" data-post-id="{{ post.id }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-trash">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M4 7l16 0" />
                          <path d="M10 11l0 6" />
                          <path d="M14 11l0 6" />
                          <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                          <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                        </svg>Excluir
                      </button>
                    </li>
                  {% endif %}
                  <li>
                    <button onclick="blurOnClick()" class="flex items-center gap-2 hover:bg-zinc-600/50">
                      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-bookmark">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M18 7v14l-6 -4l-6 4v-14a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4z" />
                      </svg>Salvar
                    </button>
                  </li>
                  <li>
                    <button onclick="blurOnClick()" class="flex items-center gap-2 hover:bg-zinc-600/50">
                      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-exclamation-circle">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                        <path d="M12 9v4" />
                        <path d="M12 16v.01" />
                      </svg>Denunciar
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- post content -->
          <div class="mt-2">
            <p class="wrap-break-word">{{ post.content|linkify_mentions:request|safe }}</p>
            <div class="flex mt-2 gap-2">
              {% for tag in post.tags.all %}
                <a href="{% url 'search' %}?q={{ tag }}" class="text-cyan-600">#{{ tag }}</a>
              {% endfor %}
            </div>
            <div class="mt-2 flex gap-2">
              <form action="like" method="POST">
                {% csrf_token %}
                <a role="button" href="{% url 'post_like' post.id %}" class="flex gap-2 items-center text-sm font-bold px-2 py-1 bg-neutral-700 rounded cursor-pointer hover:bg-neutral-600">
                  {% if request.user in post.likes.all %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-thumb-up">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M13 3a3 3 0 0 1 2.995 2.824l.005 .176v4h2a3 3 0 0 1 2.98 2.65l.015 .174l.005 .176l-.02 .196l-1.006 5.032c-.381 1.626 -1.502 2.796 -2.81 2.78l-.164 -.008h-8a1 1 0 0 1 -.993 -.883l-.007 -.117l.001 -9.536a1 1 0 0 1 .5 -.865a2.998 2.998 0 0 0 1.492 -2.397l.007 -.202v-1a3 3 0 0 1 3 -3z" />
                      <path d="M5 10a1 1 0 0 1 .993 .883l.007 .117v9a1 1 0 0 1 -.883 .993l-.117 .007h-1a2 2 0 0 1 -1.995 -1.85l-.005 -.15v-7a2 2 0 0 1 1.85 -1.995l.15 -.005h1z" />
                    </svg>
                  {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-thumb-up">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M7 11v8a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1v-7a1 1 0 0 1 1 -1h3a4 4 0 0 0 4 -4v-1a2 2 0 0 1 4 0v5h3a2 2 0 0 1 2 2l-1 5a2 3 0 0 1 -2 2h-7a3 3 0 0 1 -3 -3" />
                    </svg>
                  {% endif %}
                  <p class="m-0">{{ post.likes_counter }}</p>
                </a>
              </form>
              {% if post.user != request.user %}
                <form action="share" method="POST">
                  {% csrf_token %}
                  <a role="button" href="{% url 'post_share' post.id %}" class="flex gap-2 items-center text-sm font-bold px-2 py-1 bg-neutral-700 rounded cursor-pointer hover:bg-neutral-600">
                    {% if request.user in post.shares.all %}
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#fff" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-share-3">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M13 4v4c-6.575 1.028 -9.02 6.788 -10 12c-.037 .206 5.384 -5.962 10 -6v4l8 -7l-8 -7z" />
                      </svg>
                    {% else %}
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-share-3">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M13 4v4c-6.575 1.028 -9.02 6.788 -10 12c-.037 .206 5.384 -5.962 10 -6v4l8 -7l-8 -7z" />
                      </svg>
                    {% endif %}
                    <p class="m-0">{{ post.shares_counter }}</p>
                  </a>
                </form>
              {% else %}
                <button class="flex gap-2 items-center text-sm font-bold px-2 py-1 bg-cyan-700/50 rounded cursor-pointer">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-share-3">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M13 4v4c-6.575 1.028 -9.02 6.788 -10 12c-.037 .206 5.384 -5.962 10 -6v4l8 -7l-8 -7z" />
                  </svg>
                  <p class="m-0">{{ post.shares_counter }}</p>
                </button>
              {% endif %}
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% else %}
    <div class="p-8">
      <h2 class="font-bold text-xl">Nossa! Como tá vazio aqui, né? 🫠</h2>
      <p class="text-sm text-zinc-500">Procura alguém pra seguir. Posta alguma coisa, sei lá. Reage.</p>
    </div>
  {% endif %}
{% endif %}
