{% extends 'smalltalk/pages/base.html' %}

{% block title %}
  Bem-vindo ao SmallTalk!
{% endblock %}

{% block content %}
  <div class="bg-pattern h-screen w-screen flex items-center justify-center relative text-black">
    <!-- Card Login -->
    <div class="card card-side mx-8 bg-base-100 w-96 shadow-sm noto-sans">
      <div class="card bg-base-100 shadow-sm flex flex-col w-126 justify-center items-center">
        <p class="font-bold">Olá!</p>
        <p class="font-bold">¡Hola!</p>
        <p class="font-bold">Hello!</p>
        <p class="font-bold">こんにちは!</p>
        <p class="font-bold">안녕하세요!</p>
      </div>
      <div class="card-body p-8 inline-flex">
        <p>
          <span class="font-bold">SmallTalk</span> é uma rede social projetada para ser divertida e <span data-tip="criar uma conta" class="tooltip"><a href="{% url 'register' %}" class="underscore">fácil de usar</a></span>, para te ajudar a se conectar com pessoas ao redor do mundo. Acesse <span class="font-bold"></span><span class="font-bold"><a href="{% url 'login' %}" class="text-cyan-700">aqui</a></span>.
        </p>
      </div>
    </div>

    <!-- Rodapé -->
    <div class="absolute bottom-5 w-screen flex justify-center gap-2 text-white text-sm">
      <p class="">
        ©{% now 'Y' %}, SmallTalk.
      </p>
      <p class="">All rights reserved</p>
    </div>
  </div>
{% endblock %}
